body {
  background-color: #161616;
}

.curve,
.line {
  fill: none;
  stroke-width: 4px;
}

.curve {
  stroke: red;
}

#tooltip {
  position: absolute;
  width: 300px;
  padding: 5px;
  color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  background: rgb(0, 0, 0);
  z-index: 1;
  box-shadow: 0px 0px 5px #000000b6;
  font-weight: 500;
  border-radius: 5pt;
}

.x-axis,
.y-axis {
  stroke: #d4d4d4;
  color: #d4d4d4;
  font-size: 14px;
}

.y-axis .tick line {
  display: none;
}

#tooltip.hidden {
  display: none;
}
