p {
  font-family: 'Open Sans', sans-serif;
  color: #eeeeee;
  font-weight: 300;
}

.subheading {
  color: #bdbdbd;
  font-size: 3rem;
  font-weight: 300;
}

svg {
  width: 100%;
  height: 600px;
  padding-left: 5%;
  padding-right: 50px;
}

h1 {
  font-size: 90px;
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  color: #eeeeee;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 40px;
  color: #ff8080;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  font-size: 30px;
  color: #ffbfbf;
  font-family: 'Times New Roman', Times, serif;
}

h4 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  text-align: left;
  color: #eeeeee;
  font-family: 'Times New Roman', Times, serif;
}

body {
  font-size: 18px;
  background-color: #161616;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #eeeeee;
  height: 1px;
}

.sticky-scroll-text {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
}

.stick-to-top {
  top: 10%;
}

.stick-to-center {
  top: 40%;
}

.scrolly-image {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(100%);
  opacity: 0;
  transition: opacity 1.2s;
  -webkit-transition: opacity 1.2s;
}

.scrolly-text {
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 1.2s;
  -webkit-transition: opacity 1.2s;
}

.active {
  opacity: 1;
}

.deactive {
  opacity: 0;
}

/* Spacers are 100% viewport height, can be used as SM triggers*/
.spacer {
  min-height: 70vh;
}

/* Removes the border from the iframe */
#map {
  /* position: relative; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: none;
}

.send-to-back {
  z-index: -1;
}

.send-to-front {
  z-index: 1;
}

#tooltip-name {
  font-size: 30px;
}

/* ------------------- */
/* ARC DIAGRAM STYLING */
/* ------------------- */

#arc {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  border: none;
}

.curve,
.line {
  fill: none;
  stroke-width: 4px;
}

.curve {
  stroke: red;
}

#arc-tooltip {
  position: absolute;
  width: 300px;
  padding: 5px;
  color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  background: rgb(0, 0, 0);
  z-index: 2;
  box-shadow: 0px 0px 5px #000000b6;
  font-weight: 500;
  border-radius: 5pt;
}

.x-axis,
.y-axis {
  stroke: #d4d4d4;
  color: #d4d4d4;
  font-size: 14px;
}

.y-axis .tick line {
  display: none;
}

#arc-tooltip.hidden {
  display: none;
}

/* --------------- */
/* SIDEBAR STYLING */
/* --------------- */

#sidebar {
  position: absolute;
  width: 60%;
  height: 100vh;
  right: 0;
  overflow: auto;
  background: rgba(22, 22, 22, 0.8);
  font-family: 'Arial';
  padding: 10px;
  z-index: 1;
  overflow-x: hidden;
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: linear;
}

#scrollytelling-map-container {
  z-index: -1;
}

#cayuga-demo {
  position: fixed;
  right: 0pt;
  width: 60%;
  opacity: 0;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    right: -1000pt;
  }
  100% {
    opacity: 1;
    right: 0pt;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --------------------- */
/* MISCELLANEOUS STYLING */
/* --------------------- */

/* Customize scrollbar for dark theme */
::-webkit-scrollbar {
  width: 12pt;
  height: 12pt;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6pt;
}
::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
  border-radius: 6pt;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}


/* --------------------- */
/*    MAPBOX STYLING     */
/* --------------------- */


.map-overlay {
  position: relative;
  bottom: 0;
  left: 0;
  background: #fff;
  margin-right: 20px;
  margin-left: 60px;
  font-family: Arial, sans-serif;
  /* overflow: auto; */
  border-radius: 3px;
  }
 
  #legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
  }
  .legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  }

  #bubble_caption {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.3;
    text-align: left;
    color: #eeeeee;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  
  }

  .image_caption {
    font-style: italic;
    font-size: 15px;
    font-weight: 20;
    line-height: 1.3;
    text-align: left;
    color: #eeeeee;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
  
  }





